@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "rigid-square";
  src: url("https://use.typekit.net/af/6727e5/00000000000000007735c42c/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/6727e5/00000000000000007735c42c/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/6727e5/00000000000000007735c42c/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.white-text {
  color: #FFF !important;
}

.run-button button {
  position: relative;
}
.run-button button:before, .run-button button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  transform: scaleY(1.4);
}
.run-button button.bubble-animation-green:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, transparent 20%, #00ff00 20%, transparent 30%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, transparent 10%, #00ff00 15%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.run-button button.bubble-animation-green:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, transparent 10%, #00ff00 15%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%), radial-gradient(circle, #00ff00 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
.run-button button.bubble-animation-red:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0000 20%, transparent 30%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.run-button button.bubble-animation-red:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0000 15%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%), radial-gradient(circle, #ff0000 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    opacity: 0;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    opacity: 1;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    opacity: 0;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    opacity: 1;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.flash-success {
  animation: screen-flash-success 0.5s ease-in-out;
}

.flash-fail {
  animation: screen-flash-fail 0.5s ease-in-out;
}

@keyframes screen-flash-success {
  0% {
    background-color: #0d0f11;
  }
  50% {
    background-color: #002d00;
  }
  100% {
    background-color: #0d0f11;
  }
}
@keyframes screen-flash-fail {
  0% {
    background-color: #0d0f11;
  }
  50% {
    background-color: #3d0000;
  }
  100% {
    background-color: #0d0f11;
  }
}
@keyframes run-button-success {
  0%, 100% {
    background-color: initial;
  }
  50% {
    background-color: MediumSeaGreen;
  }
}
@keyframes run-button-failure {
  0%, 100% {
    background-color: initial;
  }
  50% {
    background-color: red;
  }
}
.run-button.success {
  animation-name: run-button-success;
  animation-duration: 0.5s;
}
.run-button.failure {
  animation-name: run-button-failure;
  animation-duration: 0.5s;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.analysis {
  margin-top: 40px;
  padding: 30px;
  background-color: #1D2127;
  border-radius: 7.5px;
}
.analysis .analysis-header .analysis-title {
  margin: 6px 0 14px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
@media only screen and (max-width: 800px) {
  .analysis .analysis-header {
    flex-direction: column;
  }
}
.analysis .analysis-header .program-status {
  border: 1px dotted #7eff18;
  color: #7eff18;
  padding: 12px 20px;
  font-size: 13px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.analysis .analysis-header .program-status.is_error {
  border: 1px dotted #ff0000;
  color: #ff0000;
}
.analysis .analysis-header .program-status i {
  font-size: 20px;
  margin-right: 10px;
}
.analysis .analysis-body {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .analysis .analysis-body {
    flex-direction: column;
  }
}
.analysis .analysis-body .analysis-item {
  display: flex;
  justify-content: space-between;
  flex: 0 0 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-color: #191C21;
}
.analysis .analysis-body .analysis-item .analysis-item-label {
  font-family: "rigid-square";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.analysis .analysis-body .analysis-item .analysis-item-data {
  color: #B5BDC2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.analysis .program-status-error-message {
  border: 1px dotted #ff0000;
  color: #ff0000;
  word-break: break-word;
  margin-top: 10px;
  padding: 10px;
  overflow-x: scroll;
  scrollbar-color: #191C21 #b00000;
  scrollbar-width: thin;
}
.analysis .graph-error {
  border: 1px dotted #ff0000;
  color: #ff0000;
  padding: 10px;
}
.analysis .graph-toggle-holder {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 14px;
}
.analysis .graph-toggle-holder #graph-toggle-icon {
  margin-left: 14px;
}
.analysis .graph-toggle-holder #graph-toggle-icon rect {
  stroke: #b5bdc2;
  transition: 0.3s;
}
.analysis .graph-toggle-holder #graph-toggle-icon circle {
  fill: #b5bdc2;
  transition: 0.3s;
}
.analysis .graph-toggle-holder #graph-toggle-icon:hover rect {
  stroke: white;
}
.analysis .graph-toggle-holder #graph-toggle-icon:hover circle {
  fill: white;
}
.analysis .graph-toggle-holder #graph-toggle-icon.toggle-on rect {
  stroke: #9595FC;
}
.analysis .graph-toggle-holder #graph-toggle-icon.toggle-on circle {
  fill: #9595FC;
  transform: translateX(22px);
}

.program-input {
  background-color: #1D2127;
  padding: 30px;
  border-radius: 7.5px;
}
.program-input-header {
  margin-bottom: 10px;
  position: relative;
}
.program-input-header .program-input-intro {
  margin-right: 220px;
}
.program-input-header h2 {
  margin: 6px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}
.program-input-header p {
  color: #B5BDC2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 800px) {
  .program-input-header {
    display: flex;
    flex-direction: column;
  }
  .program-input-header .example-program-select-container {
    position: relative !important;
    margin-top: 20px;
  }
  .program-input .program-input-intro {
    margin-right: 0 !important;
  }
}
.program-input-footer {
  min-height: 80px;
  padding-top: 30px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .program-input-footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .program-input-footer .program-details {
    margin-right: 0;
  }
  .program-input-footer .run-button {
    position: relative !important;
    top: 0 !important;
    margin-top: -10px;
    margin-bottom: 20px;
  }
}
.program-input .run-button {
  position: absolute;
  top: 34px;
  right: 0;
  max-width: 100%;
  z-index: 4;
}
.program-input .run-button button {
  display: flex;
  width: 256px;
  min-height: 47px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  background: #5134E0;
  border: none;
  font-family: "rigid-square";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  max-width: 100%;
  cursor: pointer;
}
.program-input .example-program-select-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  max-width: 100%;
  display: inline-block;
  width: fit-content;
  border-radius: 7.5px;
  border: 1px solid #363636;
  overflow: hidden;
}
.program-input .example-program-select-container .example-program-select {
  max-width: 100%;
  height: 40px;
  padding-left: 10px;
  color: #B5BDC2;
  background-color: #191C21;
  width: 200px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.program-input .example-program-select-container .example-program-select:focus-visible {
  outline: none;
}
.program-input .example-program-select-container i {
  position: absolute;
  right: 10px;
  top: 8px;
  font-weight: 100;
  font-size: 26px;
  color: #FFF;
  pointer-events: none;
}
.program-input .example-program-select-container i.loading {
  font-size: 20px;
  top: 10px;
  right: 14px;
}
.program-input-field {
  width: 100%;
  background-color: #191C21;
  border-radius: 7.5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #c2c2ff;
  font-family: "Roboto Mono";
  font-size: 12px;
  resize: none;
  padding: 12px;
  scrollbar-color: #191C21 #424242;
  scrollbar-width: thin;
}
.program-input-field:focus-visible {
  outline: none;
}
.program-input .rotate {
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.program-input :disabled {
  color: #999 !important;
  background-color: #ccc !important;
  cursor: default !important;
}
.program-input .program-input-field-container {
  position: relative;
  z-index: 4;
}
.program-input .program-input-field-container .copy-holder {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ccc;
  display: flex;
  gap: 4px;
}
.program-input .program-input-field-container .copy-holder .copy-button {
  border: 1px solid #5134E0;
  padding: 4px;
  border-radius: 4px;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191C21;
}
.program-input .program-input-field-container .copy-holder .copy-button:hover {
  background: #5134e0;
}
.program-input .program-input-field-container .copy-holder #copy-button-success {
  transition: 0.5s;
  opacity: 0;
  background: #191C21;
  padding: 6px 10px;
  border: 1px solid #5134e0;
  border-radius: 4px;
}
.program-input .program-input-field-container .copy-holder .copy-show {
  opacity: 1 !important;
}
.program-input #badger-canvas {
  position: absolute;
  top: -686px;
  left: -420px;
  z-index: 2;
  pointer-events: none;
}
@media only screen and (max-width: 800px) {
  .program-input #badger-canvas {
    top: -680px;
  }
}
.program-input code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #505050;
  border-radius: 3px;
}

.merkle {
  margin-top: 40px;
  padding: 30px;
  background-color: #1D2127;
}
.merkle h2 {
  margin: 6px 0;
}
.merkle li {
  color: #B5BDC2;
  word-wrap: break-word;
}

.merkle_graph {
  position: relative;
}
.merkle_graph #merkle_graph_holder {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  border-radius: 7.5px;
}
.merkle_graph #merkle_graph_holder svg {
  background-color: #191C21;
  max-width: 100%;
  max-height: 100%;
  border-radius: 7.5px;
}
.merkle_graph #merkle_graph_holder text {
  fill: white;
}
.merkle_graph #merkle_graph_holder path {
  fill: none;
  stroke: #4090ff;
  stroke-width: 2;
}
.merkle_graph #merkle_graph_holder rect {
  fill: #191C21;
  stroke: #4f4f4f;
  stroke-width: 1;
}
.merkle_graph #merkle_graph_holder .node-full-text {
  visibility: hidden;
  stroke: #191C21;
  stroke-width: 4;
  fill: white;
  paint-order: stroke fill;
}
.merkle_graph #merkle_graph_holder .node-main-text, .merkle_graph #merkle_graph_holder .node-full-text {
  pointer-events: none;
}
.merkle_graph #merkle_graph_holder .node-rect:hover ~ .node-main-text {
  visibility: hidden;
}
.merkle_graph #merkle_graph_holder .node-rect:hover ~ .node-full-text {
  visibility: visible;
}
.merkle_graph .graph-button {
  width: 30px;
  height: 30px;
  border: 1px solid #5134E0;
  padding: 5px;
  border-radius: 4px;
  background: #191C21;
  stroke-width: 10;
  stroke: #B5BDC2;
  fill: #B5BDC2;
}
.merkle_graph .graph-button:hover {
  background: #5134E0;
}
.merkle_graph .graph-button-holder {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.program-title {
  margin: 0 0 7px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.program-description {
  color: #B5BDC2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-break: break-word;
  white-space: pre-wrap;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
}
.navbar .tab {
  color: white;
  padding: 14px 16px;
  cursor: pointer;
  border: 1px solid #2E3135;
  background: #191C21;
}
.navbar .tab.active {
  background: #1d2127;
  border: 1px solid #1d2127;
}
.navbar .button {
  color: white;
  padding: 14px 16px;
  cursor: pointer;
  border: none;
  background: #424953;
  margin: 2px 0 2px 2px;
}
.navbar .button:active {
  background: #2E3135;
}
.navbar .run-button {
  background: #5134E0;
  margin-right: 2px;
}
.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .dropdown .dropdown-content button {
  width: 100%;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background: #2e333b;
  border: 1px solid #0d0e10;
  cursor: pointer;
}
.navbar .dropdown .dropdown-content button:hover {
  background: #3c424c;
}
.navbar .dropdown .dropdown-content button:active {
  background: #2E3135;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .dropdown:hover .dropdown-button {
  background: #2e333b;
}
.navbar .beta-tag {
  position: absolute;
  right: 40px;
  top: 20px;
}

.tab-content {
  padding: 10px;
  background: #1d2127;
  margin-bottom: 20px;
  min-height: 520px;
}

.string-box, .error-box, .neutral-box, .success-box {
  border: 1px dotted #ff0000;
  word-break: break-word;
  margin-top: 10px;
  padding: 10px;
  overflow-x: scroll;
}

.success-box {
  border: 1px dotted MediumSeaGreen;
  color: MediumSeaGreen;
}

.neutral-box {
  border: 1px dotted LightGray;
  color: LightGray;
}

.error-box {
  border: 1px dotted #ff0000;
  color: #ff0000;
  margin-bottom: 10px;
}

.witness-table {
  position: relative;
}
.witness-table .table-form .table-form-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.transaction-tab {
  position: relative;
}
.transaction-tab .transaction-display-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.transaction-tab .transaction-display-row .display-row-label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
}
.transaction-tab .transaction-tab-apply-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.key-store-tab .key-store-display-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.key-store-tab .key-store-display-row .display-row-label {
  display: inline-block;
  margin: 0 10px;
}
.key-store-tab .key-store-display-row .input {
  flex-grow: 2;
}
.key-store-tab .signed-data-content {
  border: 1px solid #5134e0;
  border-radius: 8px;
  padding-top: 20px;
}

.tab-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.tab-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #b5bdc2;
  margin-bottom: 20px;
}
.tab-description a {
  color: #7973f4;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-color: #191C21 #424242;
  scrollbar-width: thin;
}

body {
  background-color: #0d0f11;
  color: #FFF;
  font-family: "inter", sans-serif;
  padding-bottom: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "rigid-square";
}

a {
  color: #7973F4;
}
a:hover {
  color: white;
}

p {
  margin: 0;
  line-height: 1.5;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0px auto 50px auto;
}

.page-header .header-icon {
  width: 300px;
  max-width: 100%;
  margin-top: -30px;
  margin-bottom: -30px;
}
@media only screen and (max-width: 800px) {
  .page-header .header-icon {
    margin-left: -20px;
    width: 240px;
  }
}

.intro {
  margin-bottom: 80px;
}
.intro .intro-title {
  font-size: 32px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #FFF;
  text-align: center;
}
.intro .intro-text {
  color: #B5BDC2;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
@media only screen and (max-width: 800px) {
  .intro .intro-title {
    padding: 0 20px;
    text-align: center;
  }
  .intro .intro-text {
    padding: 0 20px;
    text-align: center;
  }
}

@keyframes grow {
  0% {
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  100% {
    max-height: 91px;
  }
}
.button-row {
  display: flex;
}

.button-col {
  display: flex;
  flex-direction: column;
}

.flat-button, .key-store-tab .copy-button, .hash-store-tab .copy-button {
  color: white;
  padding: 14px 16px;
  cursor: pointer;
  border: none;
  background: #5134E0;
  border: 1px solid #5134E0;
  border-radius: 4px;
  margin-right: 4px;
}
.flat-button i, .key-store-tab .copy-button i, .hash-store-tab .copy-button i {
  margin: 0 4px;
}
.flat-button.bordered, .key-store-tab .bordered.copy-button, .hash-store-tab .bordered.copy-button {
  background: #191c21;
}

.submit-button, .push-button, .pop-button, .copy-button {
  border: 1px solid #5134E0;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  background: #191C21;
}
.submit-button:hover, .push-button:hover, .pop-button:hover, .copy-button:hover {
  background: #5134e0;
}

input:invalid {
  background-color: lightpink;
}

.input {
  background: #191c21;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 6px 12px;
  color: white;
  width: 260px;
}
.input:focus-visible {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
