@import 'helpers.scss';
@import 'components/analysis.scss';
@import 'components/program_window/program_input.scss';
@import 'components/merkle.scss';
@import 'components/merkle_graph.scss';
@import 'components/navbar.scss';
@import 'components/string_box.scss';
@import 'components/tab_content.scss';
@import 'components/tooltip.scss';

* {
    box-sizing: border-box;
}

html {
    scrollbar-color: $background-dark #424242;
    scrollbar-width: thin;
}

body {
    background-color: $body-background;
    color: $text-white;
    font-family: 'inter', sans-serif;
    padding-bottom: 400px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'rigid-square';
}

a {
    color: #ea9606;

    &:hover {
        color: white;
    }
}

p {
    margin: 0;
    line-height: 1.5;
}

.button-row {
    display: flex;

    &.is-small{
        button{
            padding: 8px 12px;
        }
    }
}

.flat-button{
    color: white;
    padding: 14px 16px;
    cursor: pointer;
    border: none;
    background: #b26e0f;
    border: 1px solid #b26e0f;
    border-radius: 4px;
    margin-right: 4px;

    i {
        margin: 0 4px;
    }

    &.bordered{
        background: #191c21;
    }

    &.is-small{
        padding: 8px 12px;
    }
}

.submit-button, .push-button, .pop-button, .copy-button {
    border: 1px solid #b26e0f;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background: #191C21;

    &:hover {
        background: #b26e0f;
    }

    &.is-small{
        padding: 8px 12px;
    }
}

input:invalid {
    background-color: lightpink;
}

input[type="radio"]{
    accent-color: #ea9606;
}

.input{
    background: #191c21;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
    width: 260px;

    &:focus-visible{
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}