
.analysis {
    margin-top: 40px;
    padding: 30px;
    background-color: $background-light;
    border-radius: 7.5px;

    .analysis-header {
        .analysis-title {
            margin: 6px 0 14px 0;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }

        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }

        .program-status{
            border: 1px dotted #7eff18;
            color: #7eff18;
            padding: 12px 20px;
            font-size: 13px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            
            &.is_error{
                border: 1px dotted #ff0000;
                color: #ff0000;
            }
        
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    .analysis-body {
        display: flex;
        flex-wrap: wrap;
        
        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }

        .analysis-item {
            display: flex;
            justify-content: space-between;
            flex: 0 0 50%;
            
            border: 1px solid rgba(255, 255, 255, 0.10);
            padding: 20px;
            background-color: $background-dark;

            .analysis-item-label {
                font-family: 'rigid-square';
                color: $text-white;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .analysis-item-data {
                color: $text-grey;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .program-status-error-message{
        border: 1px dotted #ff0000;
        color: #ff0000;
        word-break: break-word;
        margin-top: 10px;
        padding: 10px;
        overflow-x: scroll;

        scrollbar-color: $background-dark #b00000;
        scrollbar-width: thin;
    }

    .graph-error{
        border: 1px dotted #ff0000;
        color: #ff0000;
        padding: 10px;
    }

    .graph-toggle-holder{
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 14px;

        #graph-toggle-icon{
            margin-left: 14px;
            
            rect{
                stroke: #b5bdc2;
                transition: .3s;
            }
            circle{
                fill: #b5bdc2;
                transition: .3s;
            }

            &:hover{
                rect{
                    stroke: white;
                }
                circle{
                    fill: white;
                }
            }

            &.toggle-on{
                rect{
                    stroke: #9595FC;
                }
                circle{
                    fill: #9595FC;
                    transform:translateX(22px);
                }
            }
        }
    }
}
