
.merkle_graph {
    position: relative;

    #merkle_graph_holder{
        border: 1px solid rgba(255, 255, 255, .1);
        margin-top: 20px;
        border-radius: 7.5px;
        svg {
            background-color: $background-dark;
            max-width: 100%;
            max-height: 100%;
            border-radius: 7.5px;
        }
        text {
            fill: white;
        }
        path{
            fill: none;
            stroke: #4090ff;
            stroke-width: 2;
        }
        rect {
            fill: $background-dark;
            stroke: #4f4f4f;
            stroke-width: 1;
        }

        .node-full-text{
            visibility: hidden;
            stroke: $background-dark;
            stroke-width: 4;
            fill: white;
            paint-order: stroke fill;
        }

        .node-main-text, .node-full-text{
            pointer-events: none;
        }

        .node-rect:hover ~ .node-main-text{
            visibility: hidden;
        }

        .node-rect:hover ~ .node-full-text{
            visibility: visible;
        }
    }

    .graph-button {
        width: 30px;
        height: 30px;
        border: 1px solid #5134E0;
        padding: 5px;
        border-radius: 4px;
        background: #191C21;

        stroke-width: 10;
        stroke: #B5BDC2;
        fill: #B5BDC2;

        &:hover {
            background: #5134E0;
        }
    }
    .graph-button-holder {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}