.navbar {
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background-color: #00000000;

    .tab{
        color: white;
        padding: 14px 16px;
        cursor: pointer;
        border: 1px solid #2E3135;
        background: #191C21;

        &.active{
            background: #1d2127;
            border: 1px solid #1d2127;
        }
    }

    .button{
        color: white;
        padding: 14px 16px;
        cursor: pointer;
        border: none;
        background: #606060;
        margin: 2px 0 2px 2px;
    }

    .run-button{
        background: #5134E0;
        margin-right: 2px;
    }

    .share-button{

    }

    .dropdown {

        .dropdown-button {
            
        }

        .dropdown-content {
            display: none; // Hide dropdown by default
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            button {
                width: 100%;
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
        }

        &:hover .dropdown-content {
            display: block; // Show dropdown on hover
        }
    }
}

.tab-content{
    padding: 10px;
    background: #1d2127;
    margin-bottom: 20px;
    min-height: 350px;
}