.navbar {
    display: flex;
    align-items: stretch;
    background-color: #00000000;

    .tab{
        color: white;
        padding: 14px 16px;
        cursor: pointer;
        border: 1px solid #2E3135;
        background: #191C21;

        &.active{
            background: #1d2127;
            border: 1px solid #1d2127;
        }
    }

    .button{
        color: white;
        padding: 14px 16px;
        cursor: pointer;
        border: none;
        background: #424953;
        margin: 2px 0 2px 2px;

        &:active{
            background: #2E3135;
        }
    }

    @keyframes run-button-success {
        0%, 100% { background-color: initial; }
        50% { background-color: MediumSeaGreen; }
    }
    
    @keyframes run-button-failure {
        0%, 100% { background-color: initial; }
        50% { background-color: red; }
    }

    .run-button{
        background: #b26e0f;
        margin-right: 2px;

        &.success {
            animation-name: run-button-success;
            animation-duration: 0.5s;
        }
    
        &.failure {
            animation-name: run-button-failure;
            animation-duration: 0.5s;
        }
    }

    .dropdown {
        .dropdown-content {
            display: none; // Hide dropdown by default
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            button {
                width: 100%;
                float: none;
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                background: #2e333b;
                border: 1px solid #0d0e10;
                cursor: pointer;

                &:hover{
                    background: #3c424c;
                }

                &:active{
                    background: #2E3135;
                }
            }
        }

        &:hover {
            .dropdown-content {
                display: block; // Show dropdown on hover
            }

            .dropdown-button{
                background: #2e333b;
            }
        }
    }

    .hamburger{
        display: none;
        position: absolute;
        top: 12px;
        right: 10px;
        width: 34px;

        @media screen and (max-width: 1000px) {
            display: inline-block;
        }
    }

    .hamburger-close{
        display: none;
        position: absolute;
        top: 12px;
        right: 10px;
        width: 34px;

        @media screen and (max-width: 1000px) {
            display: inline-block;
        }
    }

    .mobile-hidden{
        .beta-tag{
            color: #ea9606;
            position: absolute;
            right:40px;
            top: 20px;
        }

        @media screen and (max-width: 1000px) {

            display: none;
            flex-direction: column;
            position: absolute;
            top: 55px;
            right: 10px;
            z-index: 2;
            background: #0d0e10;

            &.open{
                display: flex;
            }

            button{
                width: 100%;
            }

            .beta-tag{
                display: none;
            }
        }
    }
}

