
.program-input{
    background-color: $background-light;
    padding: 30px;

    &-header{
        margin-bottom: 10px;
        position: relative;

        .program-input-intro {
            margin-right: 220px;
        }

        h2 {
            margin: 6px 0;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 14px;
        }

        p{
            color: $text-grey;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    @media only screen and (max-width: 800px) {
        &-header{
            display: flex;
            flex-direction: column;

            .example-program-select-container{
                position: relative !important;
                margin-top: 20px;
            }
        }

        .program-input-intro {
            margin-right: 0 !important;
        }
        
    }

    &-footer {
        min-height: 80px;
        padding-top: 30px;
        position: relative;

        .program-details {
            margin-right: 300px;

            .program-title {
                margin: 0 0 7px 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .program-description {
                color: $text-grey;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;

            .program-details {
                margin-right: 0;
            }

            .run-button{
                position: relative !important;
                margin-top: 20px;
            }
        }
    }

    .run-button { 
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;

        button {
            display: flex;
            width: 256px;
            min-height: 47px;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: #fff;
            background: #5134E0;
            border: none;
            font-family: 'rigid-square';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .example-program-select-container{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        display: inline-block;
        width: fit-content;

        .example-program-select {
            max-width: 100%;
            height: 40px;
            padding-left: 10px;
            color: $text-grey;
            background-color: $background-dark;
            width: 200px;
            border: 1px solid #363636;

            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus-visible {
                outline: none;
            }
        }

        i {
            position: absolute;
            right: 10px;
            top: 8px;
            font-weight: 100;
            font-size: 26px;
            color: $text-white;
        }
    }

    &-field{
        width: 100%;
        background-color: $background-dark;
        border-radius: 7.5px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        color: #88ddff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        resize: none;
        padding: 12px;
        &:focus-visible {
            outline: none;
        }

        // overflow-x: auto;
        scrollbar-color: $background-dark #424242;
        scrollbar-width: thin;
    }
}