
.program-input{
    background-color: $background-light;
    padding: 30px;
    border-radius: 7.5px;

    &-header{
        margin-bottom: 10px;
        position: relative;

        .program-input-intro {
            margin-right: 220px;
        }

        h2 {
            margin: 6px 0;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 14px;
        }

        p{
            color: $text-grey;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    @media only screen and (max-width: 800px) {
        &-header{
            display: flex;
            flex-direction: column;

            .example-program-select-container{
                position: relative !important;
                margin-top: 20px;
            }
        }

        .program-input-intro {
            margin-right: 0 !important;
        }
        
    }

    &-footer {
        min-height: 80px;
        padding-top: 30px;
        position: relative;

        .program-details {
            margin-right: 300px;

            .program-title {
                margin: 0 0 7px 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .program-description {
                color: $text-grey;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                word-break: break-word;
            }
        }

        @media only screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;

            .program-details {
                margin-right: 0;
            }

            .run-button{
                position: relative !important;
                margin-top: 20px;
            }
        }
    }

    .run-button { 
        position: absolute;
        top: 34px;
        right: 0;
        max-width: 100%;
        z-index: 4;

        button {
            display: flex;
            width: 256px;
            min-height: 47px;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: #fff;
            background: #5134E0;
            border: none;
            font-family: 'rigid-square';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            max-width: 100%;
            cursor: pointer;
            &:hover {
                // background: #7973f4;
            }
        }
    }

    .example-program-select-container{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 4;
        max-width: 100%;
        display: inline-block;
        width: fit-content;
        border-radius: 7.5px;
        border: 1px solid #363636;
        overflow: hidden;

        .example-program-select {
            max-width: 100%;
            height: 40px;
            padding-left: 10px;
            color: $text-grey;
            background-color: $background-dark;
            width: 200px;
            border: none;

            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus-visible {
                outline: none;
            }
        }

        i {
            position: absolute;
            right: 10px;
            top: 8px;
            font-weight: 100;
            font-size: 26px;
            color: $text-white;
            pointer-events: none;

            &.loading {
                font-size: 20px;
                top: 10px;
                right: 14px;
            }
        }
    }

    &-field{
        width: 100%;
        background-color: $background-dark;
        border-radius: 7.5px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        color: #c2c2ff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        resize: none;
        padding: 12px;
        &:focus-visible {
            outline: none;
        }

        scrollbar-color: $background-dark #424242;
        scrollbar-width: thin;
    }

    .rotate {
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg) }
    }

    :disabled {
        color: #999 !important;
        background-color: #ccc !important;
        cursor: default !important;
    }

    .program-input-field-container{
        position: relative;
        z-index: 4;

        .copy-button{
            position: absolute;
            top: 10px;
            right: 20px;
            color: #ccc;
        }
        #copy-button-success{
            position: absolute;
            top: 10px;
            right: 44px;
            color: #ccc;
            transition: .5s;
            opacity: 0;
        }
        .copy-show{
            opacity: 1 !important;
        }
    }

    #badger-canvas{
        position: absolute;
        top: -686px;
        left: -420px;
        z-index: 2;
    }
}
