.string-box {
    border: 1px dotted #ff0000;
    word-break: break-word;
    margin-top: 10px;
    padding: 10px;
    overflow-x: scroll;
}

.success-box {
    @extend .string-box;
    border: 1px dotted MediumSeaGreen;
    color: MediumSeaGreen;
}

.neutral-box {
    @extend .string-box;
    border: 1px dotted LightGray;
    color: LightGray;
}

.error-box {
    @extend .string-box;
    border: 1px dotted #ff0000;
    color: #ff0000;
    margin-bottom: 10px;
}
