
// witness tab
.witness-table{
    position: relative;

    .table-form{

        .table-form-buttons{
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}