
// witness tab
.witness-table{
    position: relative;

    .table-form{

        .table-form-buttons{
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}

// transaction tab
.transaction-tab{
    position: relative;
    
    .transaction-display-row{
        margin-bottom: 10px;

        .display-row-label{
            display: inline-block;
            width: 120px;
            text-align: right;
            margin-right: 10px;
        }
    }

    .transaction-tab-apply-button{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.tab-title{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.tab-description{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #b5bdc2;
    margin-bottom: 20px;

    a {
        color: #7973f4;
    }
}